/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Google Fonts  */
/* customs fonts  */
@font-face {
  font-family: 'kingdom';
  src: url('/public/fonts/Kingdom\ Regular.otf') format('woff2');


  font-weight: 400; /* Normal weight */
  font-style: normal;
}

/* customs fonts  */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e8e5df;
}


.ballons{
    background: url(./assets/Images/ballons.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 100%;
}


.activeGender{
    border: 3px solid #F05A8E;
}



/* From swiper */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


/* Add this CSS to make PhoneInput full width */
.react-tel-input .form-control {
    width: 100% !important;
  }
  
  


.ballons {
  background: url(./assets/Images/ballons.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 180px;
  width: 100%;
}

@layer components {
  .user-nav-btn-txt {
    @apply text-[16px] font-medium text-buttonBg   ;
  }
}

